@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    margin: 20px;
    padding: 10px;
}

header {
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    display: flex;
    flex-direction: column; /* Asegura que main tiene una dirección de columna para evitar problemas */
}

section {
    flex: 3;
    display: flex; /* Agrega flex para ayudar en el diseño */
    flex-direction: column;
}

aside {
    flex: 1;
    background: #f4f4f4;
    padding: 10px;
    margin-left: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

form {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

form button {
    background: #333;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background: #555;
}
